ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav .social-icon:hover {
    color: #ccc;
    background:transparent;
  }
  .navbar .social-icons a:hover {
    background: none;
  }
  .social-icons li {
    vertical-align: top;
    display: inline;
    margin: 0;
  }
  .social-icons a {
    background: none;
    color: #555;
    border: none;
    padding: 0 !important;
    margin: 0;
  }
  .social-icons a::after {
    content: none;
  }
  .social-icons a:hover {
    background: none;
  }
  .social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .social-icon {
    font-size: 28px;
    transition-duration: 0.2s;
    padding: 0;
  }
  .social-icon:hover {
    color: #aaa;
    transition-duration: 0.2s;
  }